#message {
	width: 300px;
	height: 100px;
	font-size: 20px;
}
.decodedMessage {
	padding-left:20px;
	font-family:arial;
	font-size:12px; 
	width:500px; 
	height: 50px;
	margin:20px auto; 
	display:none;
}
.decodedMessage p {
	padding-left: 20px;
	font-size: 20px;
}

.notComplete {
	float: left;
	padding-left:20px;
	font-family:arial;
	font-size:12px; 
	width:500px; 
	height: 50px;
	margin:20px auto; 
	display:none
}
.notComplete p {
	padding-left: 20px;
}
.dbError {
	float: left;
	padding-left:20px;
	font-family:arial;
	font-size:12px; 
	width:500px; 
	height: 50px;
	margin:20px auto; 
	display:none
}
.dbError p {
	padding-left: 20px;
}
.captchaFail {
	float: left;
	padding-left:20px;
	font-family:arial;
	font-size:12px; 
	width:500px; 
	height: 50px;
	margin:20px auto; 
	display:none
}
.captchaFail p {
	padding-left: 20px;
}
.unexpectedError {
	float: left;
	padding-left:20px;
	font-family:arial;
	font-size:12px; 
	width:500px; 
	height: 50px;
	margin:20px auto; 
	display:none
}
.unexpectedError p {
	padding-left: 20px;
}
.captchaImage { margin: 0 5px 10px 5px; }
.simpleCaptchaSelected { border: 2px dashed #888; }
.loading {  
    float:right;    
    height:28px;   
    width:28px;   
    display:none;  
}  